@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

/***** Header Section *****/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  border-bottom: 1px solid red;
}

.main-heading {
  margin: 20px 15px 20px 50px;
  font-size: 3rem;
  font-family: "Lobster", cursive;
  color: #FFFFFF;
}

.nav-elements {
  display: flex;
  align-items: center;
  margin: 0 50px 0 0;
}

.link {
  margin: 0 15px;
  color: #ffffff;
}

.link:hover {
  border-bottom: 2px solid red;
}

.nav-elements,
.link {
  list-style-type: none;
  text-decoration: none;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.hamburger:focus {
  outline: none;
}

/***** About Us *****/

.about {
  background-color: rgb(0, 0, 0, 0.5);
  text-align: center;
  margin: 250px auto;
  max-width: 500px;
  padding: 10px 20px;
  border: 1px solid red;
}

.about-us {
  color: #ffffff;
}

.sub-heading {
  font-size: 3rem;
  margin: 0;
}

.sub-heading {
  font-family: "Lobster", cursive;
  color: #FFFFFF;
}

/***** Menu *****/
.menu {
  display: grid;
  grid-gap: 10px;
  background-color: rgb(0, 0, 0, 0.5);
  border: 2px solid red;
  grid-template-columns: repeat(2, 1fr);
  max-width: 600px;
  text-align: center;
  margin: 65px auto;
  padding: 20px 20px;
}

.menu-item {
  font-weight: bold;
  color: #FFFFFF;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 20px 20px;
}

.menu-image {
  width: 50%;
}

.item-heading {
  font-family: "Lobster", cursive;
  margin: 10px 0 0 0;
}

.item-desc {
  margin: 5px 0;
}

/***** Media Queries *****/
@media (max-width: 767px) {
  .nav-elements > li {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
